<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buildings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <%- include('../_navbar') %>

    <div class="container mt-4">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Buildings</h1>
        <a href="/buildings/create" class="btn btn-primary">+ Add New Building</a>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Code</th>
            <th>Name</th>
            <th class="text-center">Rooms Count</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% buildings.forEach((b, i) => { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= b.code %></td>
              <td>
                <a href="/buildings/<%= b.id %>"><%= b.name %></a>
              </td>
              <td class="text-center"><%= b.Rooms.length %></td>
              <td><%= b.description %></td>
              <td>
                <a class="btn btn-danger btn-sm" href="/buildings/<%= b.id %>/delete">Hapus</a>
                <a class="btn btn-info btn-sm" href="/buildings/<%= b.id %>/edit">Edit</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  </body>
</html>
